<div class="row rowUsers">
    <div class="container mx-auto col-md-5 mt-5">
        <div class="card text-center mx-auto mt-5">
            <div class="card-header">
                <h1>Create users</h1>
            </div>
            <div class="card-body">

                <form action="/profile/create_users" class="" method="POST" class="form-control">
                    <a href="https://admin.google.com/ac/users">Ver usuarios</a>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id=""><i class="fas fa-eye" style="cursor:pointer;"></i></span>
                        </div>
                        <input type="text" id="sheetId" name="sheetId" class="form-control" placeholder="Introduce el id de la sheet...">
                    </div>
                    <input type="submit" class="form-control mt-3">
                    
                </form>

            </div>
        </div>


    </div>
</div>