<div class="row">
    <div class="container mx-auto col-md-5 mt-5">
        <div class="card text-center mx-auto mt-5">
            <div class="card-header">
                <h1>Create shared units</h1>
            </div>
            <div class="card-body">

                <form action="/profile/create_drive_units" class="" method="POST" class="form-control">
                    <p>Introduce el <strong>id</strong> de la hoja</p>
                    <input type="text" name="sheetId" class="form-control mb-2" placeholder="Introduce el id de la sheet...">
                    <input type="text" name="nombre_hoja" class="form-control mb-2" placeholder="Introduce el nombre de la hoja">
                        <h3 class="p-3">Crear manualmente</h3>
                    <input type="text" name="nombre_unidad" placeholder="Introducir el nombre de la unidad compartida" class="form-control mb-2">
                    <p>Tipo de permiso</p>
                    <select name="rol" class="form-control"> 
                        <option value="organizer">organizer</option>
                        <option value="fileOrganizer">fileOrganizer</option>
                        <option value="fileOrganizer">writer</option>
                        <option value="commenter">commenter</option>
                        <option value="reader">reader</option>

                    </select>
                    <p>Email</p>
                    <input type="text" name="email" placeholder="Introducir el email del usuario que quieires añadir" class="form-control mb-2">
                   

                    <input type="submit" class="form-control mb-2">
                </form>

            </div>
        </div>


    </div>
</div>