body {
    margin: 0;
    padding: 0;
    background:url('../img/bg.jpg');
    background-size: cover;
    font-family: 'Noto Sans JP', sans-serif;
        /* overflow: hidden; */
}


/* Estilos */
.background-classic{
    background: rgb(0, 119, 255);
    color: white;
}
.btn{
    float: left;
}
.input-classic{
    border-radius: 100px;
    padding: 25px;
}



.index {
    width: 100vw;
    height: 100vh;
}

.navbar {
    position: relative;
    top:-30px;
    padding: 20px;
    background: rgb(0, 119, 255) !important;
}

.nav-link {
    color: #fff !important;
}

.masthead {
    color: white;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: rgb(0, 119, 255);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 100vh;
    }
    .masthead h1 {
      font-size: 5.5rem;
    }
  }