<div class="container mx-auto mt-5">
    <div class="row">
        <div class="col-md-7 mx-auto mt-5">
            <div class="card mx-auto text-center">
                <div class="card-header">
                    <h3>Inserta el dominio</h3>
                </div>

                <div class="card-body">
                    <input type="text" name="" id="nm-domain" placeholder="Introduce el dominio" class="form-control">

                    <select name="opcion" id="opcion" class="form-control mt-2">
                        <option value="">Panel principal</option>
                        <option value="users">Users</option>
                        <option value="groups">grupos</option>
                        <option value="security">Seguridad</option>
                        <option value="apps">Aplicaciones</option>
                    </select>
                    <input type="button" value="Ver los usuarios" id="seeDomain" class="btn btn-block btn-primary mt-2">

                </div>
            </div>
        </div>
    </div>
</div>